*{
    margin: 0;
    padding: 0;
}

    #container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2fr 50% 25% 25%;
        grid-template-areas: 

        "cabe"
        "barra"
        "redes"
        "footer"
        
        ;

    }
    .cabecera{
        grid-area: cabe;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        gap: 15px;
    }
        .cabecera__container {
            padding: 10px;
            text-align: center;
            height: 100px;
    }

    .img-preview{
        height: 100px;
    }
    

    .barra{
        grid-area: barra;
        background-color: yellow;

    }

    .redes{
        grid-area: redes;
        background-color: red;

    }

    .galeria{
        grid-area: gale;
        background-color: green;
    }

    .footer{
        grid-area: footer;
        background-color: brown;

    }

